.reveal {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: .5rem
  }

  strong {
    color: #82f2a0;
  }

  img {
    width: 600px;
    height: auto;
  }

  .green {
    color: #82f2a0;
  }

  .gray {
    color: rgba(0, 0, 0, 0.99)
  }
}
